<!-- <!DOCTYPE html> -->
{% extends 'myapp/base.html' %}
{% block content %}

<div class=" flex grid grid-cols-3 grid-flow-row gap-1 pt-4 pb-4">


    {% for p in products %}
    <div class="card w-96 glass">
        <figure><img src="{{p.image.url}}" alt="{{p.name}}" /></figure>
        <div class="card-body">
            <h2 class="card-title">{{p.name}}</h2>
            <p>{{p.description}}</p>
            <div class="card-actions justify-end">
                <a href="{% url 'products_details' p.id %}">
                    <button class="btn btn-primary">₹ {{p.price}}</button>
                </a>
            </div>
        </div>
    </div>
    <!-- <div class="card rounded-lg box-border h-120 w-64 p-4 border-4">
            <h2 style="text-align:center">Product Card</h2>
            <a href="{% url 'products_details' p.id %}">
                <div class="card">
                    <img src="{{p.image.url}}" alt="{{p.name}}" style="width: 200px;">
                    <h1 class="text-sky-500">{{p.name}}</h1>
                    <p class="price">₹ {{p.price}}</p>
                    <p>{{p.description}}</p>
                    <br>
                    <br>
                </div>
            </a>
        </div> -->
    {% endfor %}
</div>
{% endblock %}