{% extends 'myapp/base.html' %}
{% block content %}

 <div class="card w-96 bg-base-100 shadow-xl mt-7">
    {% if p.image %}
      <figure class="px-10 pt-10">
         <img src="{{p.image.url}}" alt="Shoes" class="rounded-xl" />
      </figure>
    {% endif %}
    <div class="card-body items-center text-center">
      <h2 class="card-title">{{p.name}}</h2>
      <p>{{p.description}}</p>
      <div class="card-actions">
        <button class="btn btn-primary">₹{{p.price}}</button>
      </div>
      <p>Sold by : {{p.seller_name}}</p>
      <a href="{% url 'users:sellerprofile' p.seller_name.id %}"><div class="text-sm"> Seller Details</div></a>
    </div>
  </div>
{% endblock %}

