<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section class="hero">
        <div class="intro-text">
          <h1>
            <span class="hear"> You can Hear the Jabs </span> <br />
            <span class="connecting"> Connecting</span>
          </h1>
          <p>
            An online streaming platform for boxing matches <br />
            We also dedicate some special time to throwbacks cuz old is gold
          </p>
          <a class="btn red" href="#">Learn More</a>
          <a class="btn blue" href="#">Subscribe</a>
        </div>
        <div class="i-frame">
          <iframe
            width="560"
            height="315"
            src="https://www.youtube.com/embed/sUmM_PFpsvQ"
            title="YouTube video player"
            frameborder="10"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          ></iframe>
          <div class="stand-1"></div>
          <div class="stand-2"></div>
        </div>
      </section>
</body>
</html>